body {
    font-size: 12px;
    font-family: 'Spartan', sans-serif;
    line-height: 1.5;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.primary-section,
.secondary-section {
    display: flex;
}

.main-content {
    width: 840px;
    max-width: 840px;
    height: 534px;
    min-height: 534px;
    background-image: url(../images/desktop-image-hero-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main-arrow-con {
    width: 180px;
    max-width: 180px;
    height: 75px;
    display: flex;
    position: absolute;
    bottom: 0;
    right: -180px;
}

.left-arrow-con,
.right-arrow-con {
    background-color: hsl(0, 0%, 0%);
    cursor: pointer;
    width: 90px;
    max-width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-arrow-con a,
.right-arrow-con a {
    margin: 20px 30px;
}

.left-arrow-con:hover,
.right-arrow-con:hover {
    background-color: hsl(0, 0%, 27%);
}

.main-content-description-con {
    width: 600px;
    max-width: 600px;
    height: 534px;
    min-height: 534px;
    padding: 110px 90px 150px;
}

.main-content-description-con h2 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}

.main-content-description-con p,
.secondary-content-description-con p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.main-content-description-con p,
.secondary-content-description-con p {
    color: hsl(0, 0%, 63%);
    margin-bottom: 30px;
}

.shop-link {
    display: flex;
    align-items: center;
}

.shop-link:hover {
    color: hsl(0, 0%, 63%);
}

.shop-link span {
    font-weight: 500;
    letter-spacing: 10px;
    margin-right: 25px;
}

.secondary-content-first,
.secondary-content-second {
    width: 420px;
    max-width: 420px;
    height: 266px;
    min-height: 266px;
}

.secondary-content-first {
    background-image: url(../images/image-about-dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.secondary-content-description-con {
    width: 600px;
    max-width: 600px;
    height: 266px;
    min-height: 266px;
    padding: 65px 50px;
    margin: 0 auto;
}

.secondary-content-description-con h3 {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 15px;
}

.secondary-content-second {
    background-image: url(../images/image-about-light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width: 1100px) {
    .main-content-description-con {
        padding: 65px 65px 150px;
    }
}

@media(max-width: 768px) {
    .primary-section,
    .secondary-section {
        display: block;
    }

    .main-content {
        width: auto;
    }

    .main-arrow-con {
        right: 0;
    }

    .main-content-description-con,
    .secondary-content-description-con,
    .secondary-content-first,
    .secondary-content-second {
        width: auto;
        max-width: inherit;
    }

    .secondary-content-description-con {
        padding: 50px;
        height: auto;
        min-height: auto;
    }

    .secondary-content-description-con p {
        margin-bottom: 0;
    }

    .main-content-description-con {
        padding: 65px;
        height: auto;
        min-height: auto;
    }
}

@media(max-width: 375px) {
    .main-content {
        background-image: url(../images/mobile-image-hero-1.jpg);
    }
    
}